<div id="game" class="grid grid-rows-1 justify-center">
  <div id="board" class="grid grid-rows-6 gap-1 p-3 box-border w-fit">
    <%= for _ <- 1..5 do %>
      <.game_row/>
    <% end %>
  </div>
  <WordLiveWeb.Keyboard.keyboard/>
</div>
